@import '../../../assets/styles/variables.scss';

.header {
  width: 100%;
  max-width: 124rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    svg {
      width: 4rem;
    }
  }
  &__container {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    z-index: 1000;
  }
  &__left,
  &__right {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    gap: 3rem;
  }
  &__right form {
    width: 50rem;
  }
  &__city {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
  &__lists {
    display: flex;
    gap: 1rem;
    &.active {
      width: 13rem;
      position: absolute;
      left: 1rem;
      top: 3rem;
      background-color: var(--bg-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      border-radius: 4px;
      padding: 0.5rem 0;
      z-index: 3;
      > button {
        padding: 0.7rem 0;
      }
    }
  }
}
