.toast-wrapper {
  position: fixed;
  bottom: 3rem;
  right: -3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
  transform: translateX(-50%);

  .toast {
    position: relative;
    overflow: hidden;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 3px solid currentColor;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    background-color: white;

    margin: 0.4rem;
    min-height: 5rem;
    svg {
      position: absolute;
      top: -1rem;
      left: -1rem;
      transform: rotate(-15deg);
      font-size: 5rem;
      color: rgba(0, 0, 0, 0.2);
    }
    &info {
      color: #4ca3df;
    }
    &_alert {
      color: #f77f2f;
    }
    &_success {
      background-color: #4dd181;
      border-color: #10ad4e;
    }
    &_error {
      border-color: #d61602;
    }
    p {
      color: inherit;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}
