.browse__ads {
  &-container {
    flex: 4;
  }
  &__pre-defined {
    button {
      padding: 0.3rem 1rem !important;
      margin: 0.2rem 0.5rem;
      font-size: 1.1rem;
    }
  }
  &__lists {
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
   	display: grid;
  	grid-template-columns: repeat(auto-fill,minmax(27rem, 1fr));
    gap: 1rem;
  }
}
