@import '../../../assets//styles/variables.scss';

.select-city {
  flex: 2;
  padding: 5rem 8rem 5rem 8rem;
  &__cities-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 2rem;
    margin: 2rem 0;
  }
  @media only screen and (max-width: $tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
