.collapse {
  transition: all 0.2s;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  transition: max-height 0.3s;
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    transition: all 0.3s;
    svg {
      color: #737373;
      font-size: 1.5rem;
      transition: transform 0.3s;
    }
  }
  &__content {
    display: none;
  }
  &.active {
    .collapse__header {
      svg {
        transform: rotate(180deg);
      }
    }
    .collapse__content {
      display: flex;
      flex-direction: column;
    }
  }
}
